// ------------------------------
// Doc-it customizations
// ------------------------------
// author : anas.nakawa@gmail.com
// license: MIT (http://opensource.org/licenses/mit-license.php)
// ------------------------------

// ------------------------------
// table of content
// ------------------------------
// importing resources
// ------------------------------


// importing resources
// ------------------------------
@import "compass/css3";
@import "media-queries";

a, 
a:link {
  cursor: pointer;
}

body {
  @include desktop-and-up {
    padding-top: 60px;  
  } 
}

.navbar-fixed-top, 
.navbar-fixed-bottom {
  .navbar-inner {
    @include tablet-landscape-and-below {
      padding: 0;
    }
  } 
}

table {
  tfoot, tbody {
    th {
      border-top: 1px solid #DDD;
    }
  }
}

pre {
  padding: 0;
  code {
    border: 1px solid black;
    @include box-shadow( 0 1px 0 rgba(255, 255, 255, 0.2) inset );
  }
}
